{%extends "game_template.html" %}

{% from "macro.html" import display_cards %}

{% block style_sup %}
<link rel="stylesheet" href="/static/style/chance.css">
{% endblock %}

{% block content_sup %}
<button id="button_générer" class="btn btn-secondary">Générer</button>
<button id="button_appliquer" class="btn btn-secondary">Appliquer</button>
<button id="button_suivant" class="btn btn-secondary" onclick="window.location.href='/game'">Suivant</button>

<div class="cards">
    {% for card in cards %}
    {{ display_cards(card) }}
    {% endfor %}
</div>

<div class="cases">
    <div class="case unactionable">
        <div class="value" id="gauche" value="0">Case de gauche</div>
    </div>
    <div class="case unactionable">
        <div class="value" id="milieu" value="1">Case du milieu</div>
    </div>
    <div class="case unactionable">
        <div class="value" id="droite" value="2">Case de droite</div>
    </div>
</div>
{% endblock %}

{% block scripts_sup %}
<script>
    displayMessage("TBot : Le joueur {{current_team[1]}} de l'équipe {{current_team[0]}} est tombé sur une case chance.");
    displayMessage("TBot : Appuyez sur générer pour voir quelle carte vous allez tirer !");
</script>
<script src="../static/js/chance.js"></script>
{% endblock %}