{%extends "game_template.html" %}

{% from "macro.html" import display_cards %}

{% block style_sup %}
<link rel="stylesheet" href="/static/style/chute.css">
{% endblock %}

{% block content_sup %}
<button type="submit" id="button_submit" class="btn btn-secondary" onclick="submit_player_choice()">Appliquer</button>
<button id="button_suivant" class="btn btn-secondary" onclick="window.location.href='/game'">Suivant</button>

<div class="cards">
    {% for card in cards %}
    {{ display_cards(card) }}
    {% endfor %}
</div>

{% endblock %}

{% block scripts_sup %}
<script>    
    displayMessage("TBot : Votre joueur numéro {{current_team[1]}} de l'équipe {{current_team[0]}} a chuté. Vous devez défausser une carte, faites votre choix.");
    displayMessage("TBot : Appuiez sur \"Suivant\" pour continuer.");
</script>
<script src="../static/js/chute.js"></script>
{% endblock %}