{%extends "game_template.html" %}

{% from "macro.html" import display_cards %}

{% block style_sup %}
<link rel="stylesheet" href="/static/style/human_game.css">
{% endblock %}

{% block content_sup %}
<button id="button_submit" class="btn btn-secondary" onclick="submit_player_choice()">Appliquer</button>
<button id="button_suivant" class="btn btn-secondary" onclick="window.location.href='/game'">Suivant</button>

<div class="cards">
    {% for card in cards %}
    {{ display_cards(card) }}
    {% endfor %}
</div>

<div class="cases">
    <div class="case">
        <div class="value" id="gauche" value="0">Case de gauche</div>
    </div>
    <div class="case">
        <div class="value" id="milieu" value="1">Case du milieu</div>
    </div>
    <div class="case">
        <div class="value" id="droite" value="2">Case de droite</div>
    </div>
</div>

{% endblock %}

{% block scripts_sup %}
<script src="../static/js/human_game.js"></script>
{% endblock %}