{%extends "game_template.html" %}

{% from "macro.html" import display_cards %}

{% block style_sup %}
<link rel="stylesheet" href="/static/style/ia_chute.css">
{% endblock %}

{% block content_sup %}
<button id="button_générer" class="btn btn-secondary">Générer</button>
<button id="button_suivant" class="btn btn-secondary" onclick="window.location.href='/intermediate_phase'">Suivant</button>

<div class="cards">
    {% for card in cards %}
    {{ display_cards(card) }}
    {% endfor %}
</div>

{% endblock %}

{% block scripts_sup %}
<script>
    var pl_query = "{{ query }}";
    displayMessage("TBot : Le coureur {{current_team[1]}} de l'équipe {{current_team[0]}} a chuté. Il doit choisir une carte à défausser.");
    displayMessage("TBot : Appuyez sur générer pour voir quelle carte l'IA va choisir !");
</script>
<script src="../static/js/ia_chute.js"></script>
{% endblock %}