{%extends "game_template.html" %}

{% block style_sup %}
<style>
    #button_suivant {
        margin-top: 5px;
    }
</style>
{% endblock %}

{% block message %}
TBot : Bienvenue ! Vous êtes l'équipe belge dans le Tour de France ! Besoin d'aide ? Posez-moi vos questions pendant le jeu ! Appuyez sur "Suivant" pour démarrer.
<div>TBot : La première étape sera de tirer les cartes !</div>
{% endblock %}

{% block content_sup %}
<a href="/tirage_carte" class="btn btn-secondary" id="button_suivant">Suivant</a>
{% endblock %}