body {
    background-color: #fff3cd;
    height: 100vh;
    overflow-y: hidden;
}

.container {
    margin-top: 60px;
}

#chat {
    height: 300px; /* Ajustez la hauteur selon vos besoins */
    border: 1px solid #ccc;
    padding: 10px;
}

/* Ajustez la taille des messages et ajoutez une barre de défilement si nécessaire */
#messages {
    height: 200px;
    overflow-y: scroll;
    border-bottom: 1px solid #212529;
    margin-right: 1px;
}

/* Stylez le formulaire de message */
#message-form {
    margin-top: 10px;
    /*margin-bottom: 100px;*/
}

/* Ajustez la taille de la zone de saisie de message */
#message-input {
    width: calc(100% - 70px); /* Déduisez la largeur du bouton d'envoi */
}

/* Ajoutez une petite marge à droite entre la zone de saisie de message et le bouton d'envoi */
#message-input,
button {
    margin-right: 5px;
    margin-top: 5px;
}

.list-container {
    height: 250px;
    overflow-y: auto; /* Activation du défilement horizontal */
    margin-bottom: 10px;
}

.flag {
    width: 125px;
    height: 94px;
    margin-top: -30px;
    margin-left: 20px;
    position: absolute;
    z-index: 9999;
}

/* Stylez les différentes parties de la légende */

.bg1 {
    background-color: rgb(229, 168, 127);
    color: black;
    padding: 10px; /* Ajoutez un peu d'espace autour du contenu */
    margin-bottom: 10px; /* Ajoutez une marge en bas pour séparer les sections */
}

.bg2 {
    background-color: rgb(110 228 118 / 93%);
    color: black;
    padding: 10px;
}
