body {
    background-color: #fff3cd;
    height: 100vh;
    overflow-y: hidden;
}

.container {
    margin-top: 60px;
}

#chat {
    height: 300px; 
    border: 1px solid #ccc;
    padding: 10px;
}

#messages {
    height: 200px;
    overflow-y: scroll;
    border-bottom: 1px solid #212529;
    margin-right: 1px;
}

#message-form {
    margin-top: 10px;
}

#message-input {
    width: calc(100% - 70px); 
}

#message-input,
button {
    margin-right: 5px;
    margin-top: 5px;
}

.list-container {
    height: 250px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.flag {
    width: 125px;
    height: 94px;
    margin-top: -30px;
    margin-left: 20px;
    position: absolute;
    z-index: 9999;
}

.bg1 {
    background-color: rgb(229, 168, 127);
    color: black;
    padding: 10px; 
    margin-bottom: 10px;
}

.bg2 {
    background-color: rgb(110 228 118 / 93%);
    color: black;
    padding: 10px;
}

tbody, td, tfoot, th, thead, tr {
    text-align: center;
}