#button_suivant {
    margin-top: 5px;
    pointer-events: none;
    opacity: 50%;
}

#button_submit {
    pointer-events: auto;
    opacity: 100%;
}

.card {
    display: inline-block;
    transform: translate(200%, -75%);
    width: 100px;
    height: 125px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.selected {
    background-color: lightblue; 
}