body {
    font-family: Arial, sans-serif;
    background-color: #fff3cd;
}
    
h1, h2 {
    margin-top: 1em;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    justify-items: stretch;
    gap: 2em 5em;
    margin-top: 2em;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.grid-item img {
    width: 200px;
    height: 150px;
    margin-bottom: 1em;
}

.grid-item form {
    margin-top: 5px;
}

#choices-form button {
    margin-top: 20px;
}

#choices-form {
    text-align: center;
}

input[type="radio"]{
    margin: 5px;
}